@{
    ViewData["Title"] = "Home Page";
    Layout = "_NoNavNoFoot";
}

<div class="d-flex justify-content-between">
    <h1>Success!</h1>
    <form asp-action="LogoutUser" method="post">
        <button class="btn btn-link mt-2" value=Logout>Logout</button>
    </form>
</div>